{% extends 'main.html' %}
{% load static %}

{%  block title %}
    Машина
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styleEditForm.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}

    <div class="orders">
        <h1>Машина</h1>
        <p style="color: red;">{{ error }}</p>

        <form action="{% url 'driver:car_edit' %}" method="post">
            {% csrf_token %}
            {% for field in car_creation_form %}
                {{ field.errors }}
                <br> <label class="form-title" for="{{ field.name }}">{{ field.label }}</label>
                <br>{{ field }}
            {% endfor %}
            <br>
            <input class="submit-button" id="reg-submit" type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}
